{% extends "layout.html" %}
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

{% block title %}职责{% endblock %}

{% block js %}
<link href="{{ fnd_media_prefix }}style/jquery.autocomplete.css" type="text/css" rel="stylesheet"/>
<script type="text/javascript" src="{{ fnd_media_prefix }}js/jquery.bgiframe.min.js"></script>
<script type="text/javascript" src="{{ fnd_media_prefix }}js/jquery.dimensions.min.js"></script>
<script type="text/javascript" src="{{ fnd_media_prefix }}js/jquery.autocomplete.js"></script>
<script type="text/javascript">
<!--
  $(document).ready(function(){
    var data = "Core Selectors Attributes Traversing Manipulation CSS Events Effects Ajax Utilities"
        .split(" ");
    $("#main_menu").autocomplete(data);
  });
-->
</script>{% endblock %}

{% block left %}
<div class="menuheader">
  <font color="blue">职责</font>
</div>
<menu compact="true">
  <li><a title="mailto" href="">查询</a></li>
  <li><a title="mailto" href="">添加</a></li>
</menu>
{% endblock %}

{% block body %}
<h2><a name="welcome">职责</a></h2>
<div class="section-content">
    <fieldset>
        <legend>基本信息</legend>
        职责名:<input type="text" name="uid" /><br/>
        应用程序:<input type="password" name="password" class="textwidget" /><br/>
        职责键:<input type="password" name="repassword" class="textwidget" /><br/>
        摘要:<textarea></textarea><br/>
        数据组:<input type="text" name="last_name" /><br/>
        要求组:<input type="text" name="first_name" /><br/>
        菜单:<input type="text" name="menu" id="main_menu"/><br/>
    </fieldset>
    <fieldset>
        <legend>安全</legend>
        并发请求组:<input type="text" name="uid" /><br/>
    </fieldset>

</div>
{% endblock %}
