{% extends "layout.html" %}
{% load i18n %}
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
{% block title %}偏好设置{% endblock %}

{% block left %}
{% endblock %}

{% block main %}

<div id="content" class="prefs">

  <h1>偏好设置</h1>
  <ul id="tabs">
    <li class="active">一般</li>
    <li id="tab_advanced">高级</li>
    <li id="tab_datetime">日期和时间</li>
    <li id="tab_keybindings">键盘快捷方式</li>
    <li id="tab_language">语言</li>
    <li id="tab_pygments">语法高亮</li>
  </ul>
  <div id="tabcontent">
    <form id="userprefs" action="" method="post">
      <table>
        <tr class="field">
          <th><label for="name">语言:</label></th>
          <td>
            <select name="language">
              <option value="">默认语言</option>
    {% for language_code, language in supported_languages %} 
              <option value="{{ language_code }}"{% if fnd_global.language %} selected{% endif %}>{% trans language %}</option>
    {% endfor %}
            </select>
          </td>
        </tr>
      </table>
      <p class="hint">配置语言将会使本站所有文字显示为
      您的语言而不是服务器使用的语言。</p>
      <p class="hint">“缺省语言”选项使用浏览器的语言协商功能选择合适的语言。</p>
      <div class="buttons">
        <input type="hidden" name="action" value="save" />
        <input type="submit" value="保存变更" />
      </div>
    </form>
  </div>
</div>
{% endblock %}

