{% extends "layout.html" %}
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
{% block title %}首页{% endblock %}

{% block left %}
<div class="menuheader">
  <a title="pyerp">Pyerp</a>
</div>
<menu compact="true">
  <li><a href="/index.html/">首页</a></li>
  <li><a href="/about.html/">关于</a></li>
  <li><a href="/downloads.html/">下载</a></li>
  <li><a href="/maillist.html/">邮件列表</a></li>
  <li><a href="/news/">新闻动态</a></li>
</menu>
<div class="menuheader">
  <a title="社区">社区</a>
</div>
<menu compact="true">
  <li><a href="/docs/">文档</a></li>
  <li><a href="/faq.html/">FAQ</a></li>
  <li><a href="/articles.html/">文章</a></li>
  <li><a href="/contribs.html/">贡献软件</a></li>
  <li><a href="/forum/">论坛</a></li>
  <li><a href="/bugs/">报告Bug</a></li>
  <li><a href="/wiki/">Wiki</a></li>
</menu>
<div class="menuheader">
  <a title="服务">服务</a>
</div>
<menu compact="true">
  <li><b>技术支持</b></li>
  <li><a href="/consulting.html/">咨询</a></li>
  <li><a href="/consulting.html/">解决方案</a></li>
  <li><a href="/licensing.html/">使用协议</a></li>
  <li><a href="/contacts.html/">联系我们</a></li>
</menu>
{% endblock %}

{% block body %}
<h3 style="background:#285090 none repeat scroll 0 0;color:white;font-family:Arial;font-size:16px;ont-weight:bold;padding:3px;">Support packages</h3>
<table class="forum" width="98%">
<tr><td>
我们提供Pyerp的官方支持和服务。
Pyerp不仅是自由和开放源码，在它后边有一个专业的团队维护它。
您的支持合同使你掌握的知识和专长。
我们可以帮助您建筑师，建造和规模使用内置的应用程序和相关技术的狮身人面像，
无论有多大和要求，或执行新的功能，满足您的特定需求，或提供咨询的时候，你需要它。
啊，我们还修复错误。
</td></tr>
<tr><td><table class="forum" width="100%">

<tr bgcolor="#ffffff" align="center">
<td colspan="4"><h2>Pyerp Support Packages</h2></td>
</tr>
<tr bgcolor="#ffffff">
<td width="40%">&nbsp;</td>
<td width="20%"><h4>基本型</h4></td>
<td width="20%"><h4>标准型</h4></td>
<td width="20%"><h4>高级型</h4></td>
</tr>

<tr bgcolor="#e0ecff">
<td colspan="4"><b>电子邮件支持</b></td>
</tr>

<tr bgcolor="#ffffff">
<td>事件次数</td>
<td>24</td>
<td><b>无限制</b></td>
<td><b>无限制</b></td>
</tr>

<tr bgcolor="#ffffff">
<td>最大非紧急响应时间</td>
<td>3个工作日</td>
<td>1个工作日</td>
<td>8小时</td>
</tr>

<tr bgcolor="#ffffff">
<td>紧急响应时间</td>
<td>-</td>
<td>-</td>
<td>2小时</td>
</tr>

<tr bgcolor="#e0ecff">
<td colspan="4"><b>解决方案支持</b></td>
</tr>

<tr bgcolor="#ffffff">
<td>调优, 功能开发</td>
<td>-</td>
<td>10小时</td>
<td>40小时</td>
</tr>

<tr bgcolor="#ffffff">
<td>优先修复缺陷</td>
<td>-</td>
<td><b>无限制</b></td>
<td><b>无限制</b></td>
</tr>

<tr bgcolor="#ffffff">
<td>新功能开发</td>
<td>-</td>
<td>-</td>
<td>Yes</td>
</tr>

<tr bgcolor="#e0ecff">
<td colspan="4"><b>语音支持</b></td>
</tr>

<tr bgcolor="#ffffff">
<td>24x7紧急电话</td>
<td>-</td>
<td>-</td>
<td><b>Yes</b></td>
</tr>

<tr bgcolor="#ffffff">
<td>Skype开发人员</td>
<td>-</td>
<td>-</td>
<td><b>Yes</b></td>
</tr>

<tr bgcolor="#e0ecff">
<td colspan="4"><b>定价和采购</b></td>
</tr>

<tr bgcolor="#ffffff">
<td>实际价格</td>
<td><b>2,000元/年</b></td>
<td><b>10,000元/年</b></td>
<td><b>40,000元/年</b></td>
</tr>

<tr bgcolor="#ffffff">

<td>&nbsp;</td>
<td><b><a href="/support.html?package=basic">立即购买</a></b></td>
<td><b><a href="/support.html?package=full">立即购买</a></b></td>
<td><b><a href="/support.html?package=premium">立即购买</a></b></td>
</tr>

</table></td></tr>
<tr><td>
<div align="center"><p><b>说明</b></p></div>
<ol>
<li>电子邮件支持：我们将通过电子邮件回答您在使用过程中遇到的问题。</li>
<li>缺陷的修复：我们将解决这些系统的问题。您可以通过缺陷追踪系统提出问题，只要您提交足够的资料能够在我们的服务器上重现问题。</li>
<li>调优和功能开发：包括如您的服务器上进行审查，调试，维修及保养工作记录所有超出使用和配置且可重复的错误修复，帮助，开发新的功能，写你的具体应用等自定义代码。</li>
<li>产品生命周期：所有生产的发行版（也称为稳定版或GA版）将充分至少两名分别来自指定日期多年来支持（与版本0.9.8开始）。所有最近的发展，版本也将得到支持。</li>
<li>适用平台：Python运行环境2.4.3以上的版本.</li>
<li>诚信：对于滥用的情况，我们有权终止合同，并作出任何关于按比例部分退款。</li>
</ol>
</td></tr>
</table>

{% endblock %}
