{% extends "layout.html" %}
{% load i18n %}
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
{% block title %}首页{% endblock %}

{% block left %}
<div class="menuheader">
  <a title="pyerp">Pyerp</a>
</div>
<menu compact="true">
  <li><a href="/index.html/">首页</a></li>
  <li><a href="/about.html/">关于</a></li>
  <li><a href="/downloads.html/">下载</a></li>
  <li><a href="/maillist.html/">邮件列表</a></li>
  <li><a href="/news/">新闻动态</a></li>
</menu>
<div class="menuheader">
  <a title="社区">社区</a>
</div>
<menu compact="true">
  <li><a href="/docs/">文档</a></li>
  <li><a href="/faq.html/">FAQ</a></li>
  <li><a href="/articles.html/">文章</a></li>
  <li><a href="/contribs.html/">贡献软件</a></li>
  <li><a href="/forum/">论坛</a></li>
  <li><a href="/bugs/">报告Bug</a></li>
  <li><a href="/wiki/">Wiki</a></li>
</menu>
<div class="menuheader">
  <a title="服务">服务</a>
</div>
<menu compact="true">
  <li><b>技术支持</b></li>
  <li><a href="/consulting.html/">咨询</a></li>
  <li><a href="/consulting.html/">解决方案</a></li>
  <li><a href="/licensing.html/">使用协议</a></li>
  <li><a href="/contacts.html/">联系我们</a></li>
</menu>
{% endblock %}

{% block body %}

  <div class="content_main">
    <h3>Pyerp {% trans 'Arabic' %}</h3>
    <div class="content">

<p>　　Pyerp是基于Python语言，Django框架开发的一套ERP应用系统。........</p>

    </div>
  </div>

{% endblock %}
