{% extends "layout.html" %}
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

{% block title %}程序{% endblock %}

{% block left %}
<div class="menuheader">
  <font color="blue">程序</font>
</div>
<menu compact="true">
  <li><a title="mailto" href="">查询</a></li>
  <li><a title="mailto" href="">添加</a></li>
</menu>
{% endblock %}


{% block body %}
<h2><!-- img alt="" src="" --><a name="welcome">程序</a></h2>
<div class="section-content">
<img src="{{ fnd_media_prefix }}images/fnd/screenshots/fnd_program_screen_en_1.jpg" align="left" border="0"/>
<img src="{{ fnd_media_prefix }}images/fnd/screenshots/fnd_program_screen_jp_1.jpg" align="left" border="0"/>
<img src="{{ fnd_media_prefix }}images/fnd/screenshots/fnd_program_screen_en_2.jpg" align="left" border="0"/>
<img src="{{ fnd_media_prefix }}images/fnd/screenshots/fnd_program_screen_jp_2.jpg" align="left" border="0"/>


</div>
{% endblock %}
