{% extends "layout_trac.html" %}
{% load i18n %}{% load fndtag %}
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

{% block title %}用户{% endblock %}

{% block js_ext %}
<script type="text/javascript" src="{{ fnd_media_prefix }}js/trac.js"></script>
<script type="text/javascript" src="{{ fnd_media_prefix }}js/search.js"></script>
<script type="text/javascript" src="{{ fnd_media_prefix }}js/query.js"></script>
<script type="text/javascript" src="{{ fnd_media_prefix }}js/folding.js"></script>
<script type="text/javascript">
jQuery(document).ready(function($) {
  $("#group").change(function() {
    $("#groupdesc").enable(this.selectedIndex != 0)
  }).change();
  $("fieldset legend.foldable").enableFolding(false);
  /* Hide the filters for saved queries. */
  if ( window.location.href.search(/[?&amp;]report=[0-9]+/) != -1 )
    $("#filters").toggleClass("collapsed");
  /* Hide the columns by default. */
  $("#columns").toggleClass("collapsed");
});
</script>
{% endblock %}

{% block content %}
<div id="content" class="admin">
  <h1>用户管理</h1>
  <div id="tabs">
    <ul>
      <li class="active">操作
        <ul>
          <li class="active"><a href="/admin/general/basics">查询</a></li>
          <li><a href="add">添加</a></li>
        </ul>
      </li>
    </ul>
    <ul>
      <li>相关操作
        <ul>
          <li><a href="/admin/accounting/accounting_csv_query">废止</a></li>
        </ul>
      </li>
    </ul>
  </div>
  <div id="tabcontent">
  <h2>自定义查询</h2>
  <form id="query" method="post" action="./"><div><input type="hidden" name="__FORM_TOKEN" value="6c621f103e7e30e01389c407" /></div>
    <fieldset id="filters">
      <legend class="foldable">{% trans 'Filters' %}</legend>
      <table summary="Query filters">
        <tbody>
          <tr style="height: 1px"><td colspan="4"></td></tr>
        </tbody>
{% for prop_name, prop_value in filter_properties.items %}
{% if prop_name in req_params %}
  {% if prop_value|get:'type' == 'text' %}
        <tbody>
    {% for par in req_params|get:prop_name %}
          <tr class="{{ prop_name }}">
      {% if forloop.first %}
            <th scope="row"><label>{{ prop_value|get:'label' }}</label></th>
            <td class="mode">
              <select name="{{ prop_name }}_mode">
        {% for mode in filter_modes.text %}{% with prop_name|add:'_mode' as p_name %}
                <option value="{{ mode.value }}"{% if mode.value in req_params|get:p_name %} selected="selected"{% endif %} >{{ mode.text }}</option>
        {% endwith %}{% endfor %}
              </select>
            </td>
            <td class="filter">
              <input type="text" name="{{ prop_name }}" value="{{ par }}" size="42" />
            </td>
            <td class="actions"><input type="submit" name="rm_filter_{{ prop_name }}" value="-" /></td>
      {% else %}
            <th scope="row" colspan="2"><label>or</label></th>
            <td class="filter"><input type="text" name="{{ prop_name }}" value="{{ par }}" size="42"></td>
            <td class="actions"><input type="submit" name="rm_filter_{{ prop_name }}" value="-" /></td>
      {% endif %}
          </tr>
    {% endfor %}
        </tbody>
  {% endif %}
  {% if prop_value|get:'type' == 'radio' %}
        <tbody>
          <tr class="{{ prop_name }}">
            <th scope="row"><label>{{ prop_value|get:'label' }}</label></th>
            <td class="filter" colspan="2">
    {% for option in prop_value|get:'options' %}<input type="checkbox" id="{{ prop_name }}_{{ option }}" name="{{ prop_name }}" value="{{ option }}"{% if option in req_params|get:prop_name %} checked="checked"{% endif %} /><label for="{{ prop_name }}_{{ option }}">{{ option }}</label>{% endfor %}
            </td>
            <td class="actions"><input type="submit" name="rm_filter_{{ prop_name }}" value="-" /></td>
          </tr>
        </tbody>
  {% endif %}
  {% if prop_value|get:'type' == 'select' %}
        <tbody>
    {% for par in req_params|get:prop_name %}
          <tr class="{{ prop_name }}">
      {% if forloop.first %}
            <th scope="row"><label>{{ prop_value|get:'label' }}</label></th>
            <td class="mode">
              <select name="{{ prop_name }}_mode">
        {% for mode in filter_modes.select %}{% with prop_name|add:'_mode' as p_name %}
                <option value="{{ mode.value }}"{% if mode.value in req_params|get:p_name %} selected="selected"{% endif %} >{{ mode.text }}</option>
        {% endwith %}{% endfor %}
              </select>
            </td>
            <td class="filter">
              <select name="{{ prop_name }}">
                <option></option>
        {% for option in prop_value|get:'options' %}
                <option value="{{ option }}"{% if option == par %} selected="selected"{% endif %}>{{ option }}</option>
        {% endfor %}
              </select>
            </td>
            <td class="actions"><input type="submit" name="rm_filter_{{ prop_name }}" value="-" /></td>
      {% else %}
            <th scope="row" colspan="2"><label>or</label></th>
            <td class="filter">
              <select name="{{ prop_name }}">
                <option></option>
        {% for option in prop_value|get:'options' %}
                <option value="{{ option }}"{% if option == par %} selected="selected"{% endif %}>{{ option }}</option>
        {% endfor %}
              </select>
            </td>
            <td class="actions"><input type="submit" name="rm_filter_{{ prop_name }}" value="-" /></td>
      {% endif %}
          </tr>
    {% endfor %}
        </tbody>
  {% endif %}
{% endif %}
{% endfor %}
        <tbody>
          <tr class="actions">
            <td class="actions" colspan="4" style="text-align: right">
              <label for="add_filter">添加过滤器</label> 
              <select name="add_filter" id="add_filter">
                <option></option>
{% for key, value in filter_properties.items %}
                <option value="{{ key }}"{% if key in req_params and value.type == 'radio' %} disabled="disabled"{% endif %}>{{ value.label }}</option>
{% endfor %}
              </select>
              <input type="submit" name="add" value="+" />
            </td>
          </tr>
        </tbody>
      </table>
    </fieldset>
    <fieldset id="columns">
      <legend class="foldable">{% trans 'Columns' %}</legend>
      <div>
{% for col in filter_columns %}
        <label><input type="checkbox" name="col" value="{{ col.value }}"{% if col.value in req_params|get:'col' %} checked="checked"{% endif %} />{{ col.text }}</label>
{% endfor %}
      </div>
    </fieldset>
    <p class="option">
      <label for="max">{% trans 'Max items per page' %}</label>
      <input type="text" name="max" id="max" size="10" value="100" />
    </p>
    <div class="buttons">
      <input type="hidden" name="order" value="priority" />
      <input type="submit" name="update" value="更新" />
    </div>
    <hr />
  </form>
  <script type="text/javascript">
    var properties= {{ filter_properties_json|safe }};
    var modes = {{ filter_modes_json|safe }};
    initializeFilters();
  </script>
  <div>

<h2 class="report-result">
    Results <span class="numresults">(131 - 140 of 238)</span>
</h2>

<div class="paging">
    <span class="previous">
      <a title="Previous Page" href="/demo-0.11/query?status=accepted&amp;status=assigned&amp;status=new&amp;status=reopened&amp;max=10&amp;page=13&amp;order=priority">←</a>
    </span>
    <span>
    <a title="Page 4" href="/demo-0.11/query?status=accepted&amp;status=assigned&amp;status=new&amp;status=reopened&amp;max=10&amp;page=4&amp;order=priority">4</a>
    </span>
    <span>
    <a title="Page 5" href="/demo-0.11/query?status=accepted&amp;status=assigned&amp;status=new&amp;status=reopened&amp;max=10&amp;page=5&amp;order=priority">5</a>
    </span>
    <span>
    <a title="Page 6" href="/demo-0.11/query?status=accepted&amp;status=assigned&amp;status=new&amp;status=reopened&amp;max=10&amp;page=6&amp;order=priority">6</a>
    </span>
    <span>
    <a title="Page 7" href="/demo-0.11/query?status=accepted&amp;status=assigned&amp;status=new&amp;status=reopened&amp;max=10&amp;page=7&amp;order=priority">7</a>
    </span>
    <span>
    <a title="Page 8" href="/demo-0.11/query?status=accepted&amp;status=assigned&amp;status=new&amp;status=reopened&amp;max=10&amp;page=8&amp;order=priority">8</a>
    </span>
    <span>
    <a title="Page 9" href="/demo-0.11/query?status=accepted&amp;status=assigned&amp;status=new&amp;status=reopened&amp;max=10&amp;page=9&amp;order=priority">9</a>
    </span>
    <span>
    <a title="Page 10" href="/demo-0.11/query?status=accepted&amp;status=assigned&amp;status=new&amp;status=reopened&amp;max=10&amp;page=10&amp;order=priority">10</a>
    </span>
    <span>
    <a title="Page 11" href="/demo-0.11/query?status=accepted&amp;status=assigned&amp;status=new&amp;status=reopened&amp;max=10&amp;page=11&amp;order=priority">11</a>
    </span>
    <span>
    <a title="Page 12" href="/demo-0.11/query?status=accepted&amp;status=assigned&amp;status=new&amp;status=reopened&amp;max=10&amp;page=12&amp;order=priority">12</a>
    </span>
    <span>
    <a title="Page 13" href="/demo-0.11/query?status=accepted&amp;status=assigned&amp;status=new&amp;status=reopened&amp;max=10&amp;page=13&amp;order=priority">13</a>
    </span>
    <span>
    <span class="current">14</span>
    </span>
    <span>
    <a title="Page 15" href="/demo-0.11/query?status=accepted&amp;status=assigned&amp;status=new&amp;status=reopened&amp;max=10&amp;page=15&amp;order=priority">15</a>
    </span>
    <span>
    <a title="Page 16" href="/demo-0.11/query?status=accepted&amp;status=assigned&amp;status=new&amp;status=reopened&amp;max=10&amp;page=16&amp;order=priority">16</a>
    </span>
    <span>
    <a title="Page 17" href="/demo-0.11/query?status=accepted&amp;status=assigned&amp;status=new&amp;status=reopened&amp;max=10&amp;page=17&amp;order=priority">17</a>
    </span>
    <span>
    <a title="Page 18" href="/demo-0.11/query?status=accepted&amp;status=assigned&amp;status=new&amp;status=reopened&amp;max=10&amp;page=18&amp;order=priority">18</a>
    </span>
    <span>
    <a title="Page 19" href="/demo-0.11/query?status=accepted&amp;status=assigned&amp;status=new&amp;status=reopened&amp;max=10&amp;page=19&amp;order=priority">19</a>
    </span>
    <span>
    <a title="Page 20" href="/demo-0.11/query?status=accepted&amp;status=assigned&amp;status=new&amp;status=reopened&amp;max=10&amp;page=20&amp;order=priority">20</a>
    </span>
    <span>
    <a title="Page 21" href="/demo-0.11/query?status=accepted&amp;status=assigned&amp;status=new&amp;status=reopened&amp;max=10&amp;page=21&amp;order=priority">21</a>
    </span>
    <span>
    <a title="Page 22" href="/demo-0.11/query?status=accepted&amp;status=assigned&amp;status=new&amp;status=reopened&amp;max=10&amp;page=22&amp;order=priority">22</a>
    </span>
    <span>
    <a title="Page 23" href="/demo-0.11/query?status=accepted&amp;status=assigned&amp;status=new&amp;status=reopened&amp;max=10&amp;page=23&amp;order=priority">23</a>
    </span>
    <span>
    <a title="Page 24" href="/demo-0.11/query?status=accepted&amp;status=assigned&amp;status=new&amp;status=reopened&amp;max=10&amp;page=24&amp;order=priority">24</a>
    </span>
    <span class="next">
      <a title="Next Page" href="/demo-0.11/query?status=accepted&amp;status=assigned&amp;status=new&amp;status=reopened&amp;max=10&amp;page=15&amp;order=priority">→</a>
    </span>
</div>

  <table class="listing tickets">
    <thead>
      <tr>
        <th class="id">
          <a title="Sort by {{ col.text }}" href="/query?status=accepted&amp;status=assigned&amp;status=closed&amp;status=new&amp;status=reopened&amp;col=id&amp;col=summary&amp;col=status&amp;col=type&amp;col=priority&amp;col=milestone&amp;col=component&amp;order=id">Id</a>
        </th>
{% for col in filter_columns %}
  {% if col.value in req_params|get:'col' %}
        <th class="{{ col.value }}">
          <a title="Sort by {{ col.text }}" href="/query?status=accepted&amp;status=assigned&amp;status=closed&amp;status=new&amp;status=reopened&amp;col=id&amp;col=summary&amp;col=status&amp;col=type&amp;col=priority&amp;col=milestone&amp;col=component&amp;order=id">{{ col.text }}</a>
        </th>
  {% endif %}
{% endfor %}
      </tr>
    </thead>
    <tbody>
{% if page.object_list  %}
  {% for record in page.object_list  %}
      <tr class="{% cycle 'even' 'odd' %} prio3">
        <td class="id">
          <a title="Edit the user" href="{{ record.id }}">{{ record.id }}</a>
        </td>
    {% for col in filter_columns %}
      {% if col.value in req_params|get:'col' %}
        <td class="{{ col.value }}">
          {{ record|get:col.value }}
        </td>
      {% endif %}
    {% endfor %}
      </tr>
  {% endfor %}
{% else %}
  {% if req_params|get:'col' %}
    <tr class="even">
      <td colspan="{{  req_params|get:'col'|length }}">
        没有符合条件的数据。
      </td>
    </tr>
  {% endif %}
{% endif %}
    </tbody>
  </table>

  </div>
  
  <div>
    <span class="step-links">
        {% if page.has_previous %}
            <a href="?page={{ page.previous_page_number }}">前一页</a>
        {% endif %}
        第{{ page.number }}页/共{{ page.paginator.num_pages }}页
        {% if page.has_next %}
            <a href="?page={{ page.next_page_number }}">后一页</a>
        {% endif %}
    </span>
  </div>
  
  </div>

</div>
{% endblock %}
