{% extends "layout_trac.html" %}
{% load i18n %}{% load fndtag %}
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

{% block title %}用户{% endblock %}

{% block js_ext %}
<script type="text/javascript" src="{{ fnd_media_prefix }}js/trac.js"></script>
<script type="text/javascript" src="{{ fnd_media_prefix }}js/search.js"></script>
<script type="text/javascript" src="{{ fnd_media_prefix }}js/query.js"></script>
<script type="text/javascript" src="{{ fnd_media_prefix }}js/folding.js"></script>
<script type="text/javascript">
jQuery(document).ready(function($) {
  $("#group").change(function() {
    $("#groupdesc").enable(this.selectedIndex != 0)
  }).change();
  $("fieldset legend.foldable").enableFolding(false);
  /* Hide the filters for saved queries. */
  if ( window.location.href.search(/[?&amp;]report=[0-9]+/) != -1 )
    $("#filters").toggleClass("collapsed");
  /* Hide the columns by default. */
  $("#columns").toggleClass("collapsed");
});
</script>
{% endblock %}

{% block content %}
<div id="content" class="admin">
  <h1>用户管理</h1>
  <div id="tabs">
    <ul>
      <li class="active">操作
        <ul>
          <li class="active"><a href="/admin/general/basics">查询</a></li>
          <li><a href="add">添加</a></li>
        </ul>
      </li>
    </ul>
    <ul>
      <li>相关操作
        <ul>
          <li><a href="/admin/accounting/accounting_csv_query">废止</a></li>
        </ul>
      </li>
    </ul>
  </div>
  <div id="tabcontent">
  <h2>自定义查询</h2>
  <form id="query" method="post" action=""><div><input type="hidden" name="__FORM_TOKEN" value="6c621f103e7e30e01389c407" /></div>
    <fieldset id="filters">
      <legend class="foldable">过滤器</legend>
      <table summary="Query filters">
        <tbody>
          <tr style="height: 1px"><td colspan="4"></td></tr>
        </tbody>
{% for prop_name in selected_filter_properties %}
  {% if filter_properties|get:prop_name|get:'type' == 'text'  %}
        <tbody>
          <tr class="{{ prop_name }}">
            <th scope="row"><label>{{ filter_properties|get:prop_name|get:'label' }}</label></th>
            <td class="mode">
              <select name="{{ prop_name }}_mode">
    {% for mode in filter_modes.text %}
                <option value="{{ mode.value }}">{{ mode.text }}</option>
    {% endfor %}
              </select>
            </td>
            <td class="filter">
              <input type="text" name="{{ prop_name }}" value="yuhere" size="42" />
            </td>
            <td class="actions"><input type="submit" name="rm_filter_{{ prop_name }}_0" value="-" /></td>
          </tr>
        </tbody>
  {% endif %}
  {% if filter_properties|get:prop_name|get:'type' == 'radio'  %}
        <tbody>
          <tr class="{{ prop_name }}">
            <th scope="row"><label>{{ filter_properties|get:prop_name|get:'label' }}</label></th>
            <td class="filter" colspan="2">
    {% for option in filter_properties|get:prop_name|get:'options' %}
              <input type="checkbox" id="{{ prop_name }}_{{ option }}" name="{{ prop_name }}" value="{{ option }}" checked="checked" />
              <label for="{{ prop_name }}_{{ option }}">{{ option }}</label>
    {% endfor %}
            </td>
            <td class="actions"><input type="submit" name="rm_filter_{{ prop_name }}" value="-" /></td>
          </tr>
        </tbody>
  {% endif %}
{% endfor %}
        <tbody>
          <tr class="actions">
            <td class="actions" colspan="4" style="text-align: right">
              <label for="add_filter">添加过滤器</label> 
              <select name="add_filter" id="add_filter">
                <option></option>
{% for key, value in filter_properties.items %}
                <option value="{{ key }}"{% if key in selected_filter_properties and value.type == 'radio' %} disabled="disabled"{% endif %}>{{ value.label }}</option>
{% endfor %}
              </select>
              <input type="submit" name="add" value="+" />
            </td>
          </tr>
        </tbody>
      </table>
    </fieldset>
    <fieldset id="columns">
      <legend class="foldable">显示列名</legend>
      <div>
{% for col in filter_columns %}
        <label><input type="checkbox" name="col" value="{{ col.value }}" {% if col.value in selected_columns %}checked="checked" {% endif %}/>{{ col.text }}</label>
{% endfor %}
      </div>
    </fieldset>
    <p class="option">
      <label for="max">每页最大数量</label>
      <input type="text" name="max" id="max" size="10" value="100" />
    </p>
    <div class="buttons">
      <input type="hidden" name="order" value="priority" />
      <input type="submit" name="update" value="更新" />
    </div>
    <hr />
  </form>
  <script type="text/javascript">
    var properties= {{ filter_properties_json|safe }};
    var modes = {{ filter_modes_json|safe }};
    initializeFilters();
  </script>
  <div>
  <table class="listing tickets">
    <thead>
      <tr>
        <th class="id">
          <a title="Sort by 传票" href="/query?status=accepted&amp;status=assigned&amp;status=closed&amp;status=new&amp;status=reopened&amp;col=id&amp;col=summary&amp;col=status&amp;col=type&amp;col=priority&amp;col=milestone&amp;col=component&amp;order=id">用户ID</a>
        </th>
        <th class="summary">
          <a title="Sort by 概要" href="/query?status=accepted&amp;status=assigned&amp;status=closed&amp;status=new&amp;status=reopened&amp;col=id&amp;col=summary&amp;col=status&amp;col=type&amp;col=priority&amp;col=milestone&amp;col=component&amp;order=summary">用户名</a>
        </th>
        <th class="status">
          <a title="Sort by 状态" href="/query?status=accepted&amp;status=assigned&amp;status=closed&amp;status=new&amp;status=reopened&amp;col=id&amp;col=summary&amp;col=status&amp;col=type&amp;col=priority&amp;col=milestone&amp;col=component&amp;order=status">注册时间</a>
        </th>
        <th class="type">
          <a title="Sort by 类型" href="/query?status=accepted&amp;status=assigned&amp;status=closed&amp;status=new&amp;status=reopened&amp;col=id&amp;col=summary&amp;col=status&amp;col=type&amp;col=priority&amp;col=milestone&amp;col=component&amp;order=type">描述</a>
        </th>
        <th class="priority asc">
          <a title="Sort by 优先度 (descending)" href="/query?status=accepted&amp;status=assigned&amp;status=closed&amp;status=new&amp;status=reopened&amp;col=id&amp;col=summary&amp;col=status&amp;col=type&amp;col=priority&amp;col=milestone&amp;col=component&amp;desc=1&amp;order=priority">电子邮件</a>
        </th>
      </tr>
    </thead>
    <tbody>
    <tr class="even">
      <td colspan="7">
        没有找到传票
      </td>
    </tr>
    </tbody>
  </table>

  <table class="listing tickets">
    <thead>
      <tr>
        <th class="id">
          <a title="Sort by 传票" href="/query?status=accepted&amp;status=assigned&amp;status=closed&amp;status=new&amp;status=reopened&amp;col=id&amp;col=summary&amp;col=status&amp;col=type&amp;col=priority&amp;col=milestone&amp;col=component&amp;order=id">用户ID</a>
        </th>
        <th class="summary">
          <a title="Sort by 概要" href="/query?status=accepted&amp;status=assigned&amp;status=closed&amp;status=new&amp;status=reopened&amp;col=id&amp;col=summary&amp;col=status&amp;col=type&amp;col=priority&amp;col=milestone&amp;col=component&amp;order=summary">用户名</a>
        </th>
        <th class="status">
          <a title="Sort by 状态" href="/query?status=accepted&amp;status=assigned&amp;status=closed&amp;status=new&amp;status=reopened&amp;col=id&amp;col=summary&amp;col=status&amp;col=type&amp;col=priority&amp;col=milestone&amp;col=component&amp;order=status">注册时间</a>
        </th>
        <th class="type">
          <a title="Sort by 类型" href="/query?status=accepted&amp;status=assigned&amp;status=closed&amp;status=new&amp;status=reopened&amp;col=id&amp;col=summary&amp;col=status&amp;col=type&amp;col=priority&amp;col=milestone&amp;col=component&amp;order=type">描述</a>
        </th>
        <th class="priority asc">
          <a title="Sort by 优先度 (descending)" href="/query?status=accepted&amp;status=assigned&amp;status=closed&amp;status=new&amp;status=reopened&amp;col=id&amp;col=summary&amp;col=status&amp;col=type&amp;col=priority&amp;col=milestone&amp;col=component&amp;desc=1&amp;order=priority">电子邮件</a>
        </th>
      </tr>
    </thead>
    <tbody>
{% for record in page.object_list  %}
      <tr class="{% cycle 'even' 'odd' %} prio3">
        <td class="id"><a href="/ticket/{{ record.id }}/" title="View ticket">{{ record.username }}</a></td>
        <td class="summary">
          <a href="/ticket/1" title="View ticket">{{ record.first_name }} {{ record.last_name }}</a>
        </td>
        <td class="date_joined">
          {{ record|get:'date_joined' }}
        </td>
        <td class="description">
          {{ record|get:'description' }}
        </td>
        <td class="email">
          {{ record.email }}
        </td>
      </tr>
{% endfor %}
    </tbody>
  </table>
  </div>

  <div>
    <span class="step-links">
        {% if page.has_previous %}
            <a href="?page={{ page.previous_page_number }}">前一页</a>
        {% endif %}
        第{{ page.number }}页/共{{ page.paginator.num_pages }}页
        {% if page.has_next %}
            <a href="?page={{ page.next_page_number }}">后一页</a>
        {% endif %}
    </span>
  </div>

  </div>

</div>
{% endblock %}
